In [1]:
import os
import math

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

Base mercado 1

In [2]:
base_mercado1 = pd.read_csv('/Users/fernandovieira/OneDrive/1. Educacao/INFO E ESTAT/IA Expert/ML-e-DS-com-Python-de-A-a-Z/Bases de dados/mercado.csv', header=None)
base_mercado1

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [3]:
# Converter o formato de df para lista/string
# A biblioteca apyori requer que seja lista de strings
transacoes = []

for i in range(len(base_mercado1)):
    transacoes.append([str(base_mercado1.values[i, j]) for j in range(base_mercado1.shape[1])])

In [4]:
transacoes

[['leite', 'cerveja', 'pao', 'manteiga'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['leite', 'cafe', 'pao', 'manteiga'],
 ['cerveja', 'nan', 'nan', 'nan'],
 ['manteiga', 'nan', 'nan', 'nan'],
 ['pao', 'nan', 'nan', 'nan'],
 ['feijao', 'nan', 'nan', 'nan'],
 ['arroz', 'feijao', 'nan', 'nan'],
 ['arroz', 'nan', 'nan', 'nan']]

In [5]:
type(transacoes)

list

In [6]:
from apyori import apriori

In [7]:
regras = apriori(transacoes, min_support=0.3, min_confidence=0.8, min_lift=2)
resultados = list(regras) # para ficar mais f√°cil de ler

In [8]:
resultados

[RelationRecord(items=frozenset({'manteiga', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'pao', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'manteiga', 'pao', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao', 'manteiga'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])]

In [9]:
# print(resultados[0][0], 'aparecem em ', resultados[0][1], 'das compras', 'o que indica que se a pessoa compra {} ela compra {}, com uma probabilidade disso acontecer de {}*100', resultados[0][2])
# print(''),
# print(resultados[1][0], 'aparecem em ', resultados[1][1], 'das compras', 'o que indica que se a pessoa compra {} ela compra {}, com uma probabilidade disso acontecer de {}*100', resultados[1][2]),
# print(''),
# print(resultados[2][0], 'aparecem em ', resultados[2][1], 'das compras', 'o que indica que se a pessoa compra {} ela compra {}, com uma probabilidade disso acontecer de {}*100', resultados[2][0])

In [10]:
r = resultados[2][2]
r

[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao', 'manteiga'}), confidence=1.0, lift=2.5),
 OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
 OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]

In [11]:
r[0][0]

frozenset({'cafe'})

In [12]:
r[0][1]

frozenset({'manteiga', 'pao'})

In [13]:
# Formatando listas e df para visualizar os resultados
x = []
y = []
suporte = []
confianca = []
lift = []

for resultado in resultados:
    s = resultado[1]
    result_rules = resultado [2]
    for result_rule in result_rules:
        a = list(result_rule[0])
        b = list(result_rule[1])
        c = result_rule[2]
        l = result_rule[3]

        x.append(a)
        y.append(b)
        suporte.append(s)
        confianca.append(c)
        lift.append(l)

In [14]:
x, y, suporte, confianca, lift

([['cafe'], ['cafe'], ['cafe'], ['manteiga', 'cafe'], ['pao', 'cafe']],
 [['manteiga'], ['pao'], ['pao', 'manteiga'], ['pao'], ['manteiga']],
 [0.3, 0.3, 0.3, 0.3, 0.3],
 [1.0, 1.0, 1.0, 1.0, 1.0],
 [2.0, 2.0, 2.5, 2.0, 2.0])

In [15]:
rules_df = pd.DataFrame({'X': x, 'Y': y, 'Suporte': suporte, 'Confianca': confianca, 'Lift': lift})
rules_df = rules_df.sort_values(by='Lift', ascending=False)

rules_df

                  X                Y  Suporte  Confianca  Lift
2            [cafe]  [pao, manteiga]      0.3        1.0   2.5
0            [cafe]       [manteiga]      0.3        1.0   2.0
1            [cafe]            [pao]      0.3        1.0   2.0
3  [manteiga, cafe]            [pao]      0.3        1.0   2.0
4       [pao, cafe]       [manteiga]      0.3        1.0   2.0

Base mercado 2

In [18]:
base_mercado2 = pd.read_csv('/Users/fernandovieira/OneDrive/1. Educacao/INFO E ESTAT/IA Expert/ML-e-DS-com-Python-de-A-a-Z/Bases de dados/mercado2.csv', header=None)
base_mercado2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
transacoes = []

# Converter o formato de df para lista/string
# A biblioteca apyori requer que seja lista de strings
transacoes = []

for i in range(len(base_mercado2)):
    transacoes.append([str(base_mercado2.values[i, j]) for j in range(base_mercado2.shape[1])])

In [23]:
# produtos vendidos 4 vezes por dia, numa base de dados de 7 dias
4 * 7 / len(base_mercado2)

0.0037328356219170776

In [29]:
regras = apriori(transacoes, min_support=0.003, min_confidence=0.3, min_lift=2)
resultados = list(regras)

# Qto maior a base de dados, menor deve ser o suporte e a confian√ßa

In [31]:
len(resultados)

533

In [32]:
r = resultados[2][2]
r

[OrderedStatistic(items_base=frozenset({'body spray'}), items_add=frozenset({'french fries'}), confidence=0.37209302325581395, lift=2.17712150346479)]

In [34]:
r[0][0]

frozenset({'body spray'})

In [35]:
r[0][1]

frozenset({'french fries'})

In [36]:
# Formatando listas e df para visualizar os resultados
x = []
y = []
suporte = []
confianca = []
lift = []

for resultado in resultados:
    s = resultado[1]
    result_rules = resultado [2]
    for result_rule in result_rules:
        a = list(result_rule[0])
        b = list(result_rule[1])
        c = result_rule[2]
        l = result_rule[3]

        x.append(a)
        y.append(b)
        suporte.append(s)
        confianca.append(c)
        lift.append(l)

In [ ]:
# x, y, suporte, confianca, lift

In [38]:
rules_df = pd.DataFrame({'X': x, 'Y': y, 'Suporte': suporte, 'Confianca': confianca, 'Lift': lift})
rules_df = rules_df.sort_values(by='Lift', ascending=False)

rules_df

,X,Y,Suporte,Confianca,Lift
1008,"[nan, frozen vegetables, soup]","[milk, mineral water]",0.003066,0.383333,7.987176
1005,"[soup, frozen vegetables]","[nan, milk, mineral water]",0.003066,0.383333,7.987176
635,"[soup, frozen vegetables]","[milk, mineral water]",0.003066,0.383333,7.987176
829,"[whole wheat pasta, mineral water]","[nan, olive oil]",0.003866,0.402778,6.128268
271,"[whole wheat pasta, mineral water]",[olive oil],0.003866,0.402778,6.115863
...,...,...,...,...,...
88,"[escalope, mineral water]",[chocolate],0.005599,0.328125,2.002657
430,"[escalope, mineral water, nan]",[chocolate],0.005599,0.328125,2.002657
55,"[cake, pancakes]",[spaghetti],0.004133,0.348315,2.000542
355,"[cake, pancakes]","[nan, spaghetti]",0.004133,0.348315,2.000542
356,"[cake, pancakes, nan]",[spaghetti],0.004133,0.348315,2.000542

In [ ]:
# Na pr√°tica, os resultados devem ser testados no mundo real a fim de verificar se os resultados fazem sentido.