In [25]:
import os
import math

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [26]:
base_census = pd.read_csv('/Users/fernandovieira/OneDrive/1. Educacao/INFO E ESTAT/IA Expert/ML-e-DS-com-Python-de-A-a-Z/Bases de dados/census.csv')
base_census

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [27]:
colunas = base_census.columns[:-1]
colunas

Index(['age', 'workclass', 'final-weight', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loos', 'hour-per-week', 'native-country'],
      dtype='object')

PreparaÃ§Ã£o

In [28]:
x_census = base_census.iloc[:, 0:14].values
x_census

array([[39, ' State-gov', 77516, ..., 0, 40, ' United-States'],
       [50, ' Self-emp-not-inc', 83311, ..., 0, 13, ' United-States'],
       [38, ' Private', 215646, ..., 0, 40, ' United-States'],
       ...,
       [58, ' Private', 151910, ..., 0, 40, ' United-States'],
       [22, ' Private', 201490, ..., 0, 20, ' United-States'],
       [52, ' Self-emp-inc', 287927, ..., 0, 40, ' United-States']],
      dtype=object)

In [29]:
y_census = base_census.iloc[:, 14].values
y_census

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

In [30]:
# Tratar atributos categÃ³ricos
from sklearn.preprocessing import LabelEncoder

In [31]:
label_encoder_workclass = LabelEncoder()
label_encoder_education = LabelEncoder()
label_encoder_marital = LabelEncoder()
label_encoder_occupation = LabelEncoder()
label_encoder_relationship = LabelEncoder()
label_encoder_race = LabelEncoder()
label_encoder_sex = LabelEncoder()
label_encoder_country = LabelEncoder()

In [32]:
x_census[:, 1] = label_encoder_workclass.fit_transform(x_census[:, 1])
x_census[:, 3] = label_encoder_education.fit_transform(x_census[:, 3])
x_census[:, 5] = label_encoder_marital.fit_transform(x_census[:, 5])
x_census[:, 6] = label_encoder_occupation.fit_transform(x_census[:, 6])
x_census[:, 7] = label_encoder_relationship.fit_transform(x_census[:, 7])
x_census[:, 8] = label_encoder_race.fit_transform(x_census[:, 8])
x_census[:, 9] = label_encoder_sex.fit_transform(x_census[:, 9])
x_census[:, 13] = label_encoder_country.fit_transform(x_census[:, 13])

In [33]:
x_census

array([[39, 7, 77516, ..., 0, 40, 39],
       [50, 6, 83311, ..., 0, 13, 39],
       [38, 4, 215646, ..., 0, 40, 39],
       ...,
       [58, 4, 151910, ..., 0, 40, 39],
       [22, 4, 201490, ..., 0, 20, 39],
       [52, 5, 287927, ..., 0, 40, 39]], dtype=object)

In [34]:
# Normalizar os dados
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [35]:
x_census_scaler = scaler.fit_transform(x_census)
x_census_scaler

array([[0.30136986, 0.875     , 0.0443019 , ..., 0.        , 0.39795918,
        0.95121951],
       [0.45205479, 0.75      , 0.0482376 , ..., 0.        , 0.12244898,
        0.95121951],
       [0.28767123, 0.5       , 0.13811345, ..., 0.        , 0.39795918,
        0.95121951],
       ...,
       [0.56164384, 0.5       , 0.09482688, ..., 0.        , 0.39795918,
        0.95121951],
       [0.06849315, 0.5       , 0.12849934, ..., 0.        , 0.19387755,
        0.95121951],
       [0.47945205, 0.625     , 0.18720338, ..., 0.        , 0.39795918,
        0.95121951]])

TÃ‰CNICA 1: Low Variance

In [36]:
for i in range(x_census.shape[1]): # selecionando a qtde de atributos (14)
    print(x_census_scaler[:,i].var()) # de acordo com a variÃ¢ncia

# A lÃ³gica Ã© selecionar variÃ¡veis com variÃ¢ncia maior, pois variÃ¢ncias pequenas indicam variÃ¡veis parecidas e perto da mÃ©dia.

0.034913808595952486
0.03312115190663569
0.005138537590667898
0.06657103564450892
0.029416385024073417
0.06301761677301636
0.09123816653931152
0.10326534394406342
0.04502805169292987
0.22136950173699113
0.00545419549240862
0.008557270623428908
0.015874043397822807
0.03641266114220053

In [37]:
from sklearn.feature_selection import VarianceThreshold
selecao = VarianceThreshold(threshold=0.05) # threshold: variÃ¢ncia mÃ­nima. VariÃ¡veis menores que isto serÃ£o descartadas

In [41]:
selecao.variances_

array([0.03491381, 0.03312115, 0.00513854, 0.06657104, 0.02941639,
       0.06301762, 0.09123817, 0.10326534, 0.04502805, 0.2213695 ,
       0.0054542 , 0.00855727, 0.01587404, 0.03641266])

In [39]:
x_census_variancia = selecao.fit_transform(x_census_scaler)
x_census_variancia.shape

(32561, 5)

In [40]:
x_census_variancia

array([[0.6       , 0.66666667, 0.07142857, 0.2       , 1.        ],
       [0.6       , 0.33333333, 0.28571429, 0.        , 1.        ],
       [0.73333333, 0.        , 0.42857143, 0.2       , 1.        ],
       ...,
       [0.73333333, 1.        , 0.07142857, 0.8       , 0.        ],
       [0.73333333, 0.66666667, 0.07142857, 0.6       , 1.        ],
       [0.73333333, 0.33333333, 0.28571429, 1.        , 0.        ]])

In [42]:
indices = np.where(selecao.variances_ > 0.05)
indices # atributos selecionados

(array([3, 5, 6, 7, 9]),)

In [43]:
colunas[indices] # atributos selecionados

Index(['education', 'marital-status', 'occupation', 'relationship', 'sex'], dtype='object')

In [45]:
base_census_variancia = base_census.drop(columns=['age', 'workclass', 'final-weight', 'education-num',
                                                  'race', 'capital-gain', 'capital-loos', 'hour-per-week',
                                                  'native-country'], axis=1)
base_census_variancia

,education,marital-status,occupation,relationship,sex,income
0,Bachelors,Never-married,Adm-clerical,Not-in-family,Male,<=50K
1,Bachelors,Married-civ-spouse,Exec-managerial,Husband,Male,<=50K
2,HS-grad,Divorced,Handlers-cleaners,Not-in-family,Male,<=50K
3,11th,Married-civ-spouse,Handlers-cleaners,Husband,Male,<=50K
4,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Female,<=50K
...,...,...,...,...,...,...
32556,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,Female,<=50K
32557,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,Male,>50K
32558,HS-grad,Widowed,Adm-clerical,Unmarried,Female,<=50K
32559,HS-grad,Never-married,Adm-clerical,Own-child,Male,<=50K
32560,HS-grad,Married-civ-spouse,Exec-managerial,Wife,Female,>50K

In [46]:
x_census_variancia = base_census_variancia.iloc[:, 0:5].values
x_census_variancia

array([[' Bachelors', ' Never-married', ' Adm-clerical',
        ' Not-in-family', ' Male'],
       [' Bachelors', ' Married-civ-spouse', ' Exec-managerial',
        ' Husband', ' Male'],
       [' HS-grad', ' Divorced', ' Handlers-cleaners', ' Not-in-family',
        ' Male'],
       ...,
       [' HS-grad', ' Widowed', ' Adm-clerical', ' Unmarried', ' Female'],
       [' HS-grad', ' Never-married', ' Adm-clerical', ' Own-child',
        ' Male'],
       [' HS-grad', ' Married-civ-spouse', ' Exec-managerial', ' Wife',
        ' Female']], dtype=object)

In [47]:
y_census_variancia = base_census_variancia.iloc[:, 5].values
y_census_variancia

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

In [48]:
x_census_variancia[:, 0] = label_encoder_workclass.fit_transform(x_census_variancia[:, 0])
x_census_variancia[:, 1] = label_encoder_education.fit_transform(x_census_variancia[:, 1])
x_census_variancia[:, 2] = label_encoder_marital.fit_transform(x_census_variancia[:, 2])
x_census_variancia[:, 3] = label_encoder_occupation.fit_transform(x_census_variancia[:, 3])
x_census_variancia[:, 4] = label_encoder_relationship.fit_transform(x_census_variancia[:, 4])

In [49]:
# Reprocessando o df com os dados categÃ³ricos jÃ¡ transformados (LabelEncoder).
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [50]:
onehotencoder = ColumnTransformer(transformers=[('OneHot', OneHotEncoder(), [0, 1, 2, 3, 4])], remainder='passthrough')

x_census_variancia = onehotencoder.fit_transform(x_census_variancia).toarray()
x_census_variancia

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 1., 1., 0.]])

In [51]:
x_census_variancia = scaler.fit_transform(x_census_variancia)
x_census_variancia

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 1., 1., 0.]])

In [53]:
# Dividir em treinamento e teste
from sklearn.model_selection import train_test_split

In [54]:
x_census_treinamento_var, x_census_teste_var, y_census_treinamento_var, y_census_teste_var = train_test_split(x_census_variancia, y_census_variancia, test_size=0.15, random_state=0)

In [56]:
x_census_treinamento_var.shape, x_census_teste_var.shape

((27676, 46), (4885, 46))

In [57]:
# Testando com o modelo Random Forest
from sklearn.ensemble import RandomForestClassifier

In [58]:
random_forest_census = RandomForestClassifier(criterion='entropy', min_samples_leaf=1, min_samples_split=5, n_estimators=100)
random_forest_census.fit(x_census_treinamento_var, y_census_treinamento_var)

RandomForestClassifier(criterion='entropy', min_samples_split=5)

In [59]:
from sklearn.metrics import accuracy_score

In [60]:
previsoes = random_forest_census.predict(x_census_teste_var)

In [61]:
accuracy_score(y_census_teste_var, previsoes)

0.8171954964176049

TÃ‰CNICA 2: Extra trees

In [64]:
from sklearn.ensemble import ExtraTreesClassifier
selecao = ExtraTreesClassifier()

In [65]:
x_census_scaler.shape

(32561, 14)

In [66]:
selecao.fit(x_census_scaler, y_census)

ExtraTreesClassifier()

In [68]:
colunas

Index(['age', 'workclass', 'final-weight', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loos', 'hour-per-week', 'native-country'],
      dtype='object')

In [67]:
importancias = selecao.feature_importances_
importancias

array([0.15384598, 0.04499725, 0.16428337, 0.03543094, 0.08955759,
       0.07532373, 0.0745989 , 0.08651123, 0.01469138, 0.02942743,
       0.08993448, 0.02851749, 0.09534423, 0.01753599])

In [69]:
importancias.sum()

1.0

In [74]:
indices = []

for i in range(len(importancias)):
    if importancias[i] >= 0.029:
        indices.append(i)

In [75]:
indices

[0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 12]

In [76]:
colunas[indices]

Index(['age', 'workclass', 'final-weight', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'sex', 'capital-gain',
       'hour-per-week'],
      dtype='object')

In [77]:
x_census_extra = x_census[:, indices]
x_census_extra

array([[39, 7, 77516, ..., 1, 2174, 40],
       [50, 6, 83311, ..., 1, 0, 13],
       [38, 4, 215646, ..., 1, 0, 40],
       ...,
       [58, 4, 151910, ..., 0, 0, 40],
       [22, 4, 201490, ..., 1, 0, 20],
       [52, 5, 287927, ..., 0, 15024, 40]], dtype=object)

In [78]:
onehotencoder = ColumnTransformer(transformers=[('OneHot', OneHotEncoder(), [1,3, 5, 6, 7])], remainder='passthrough')

x_census_extra = onehotencoder.fit_transform(x_census_extra).toarray()
x_census_extra

array([[0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 1.0000e+00, 2.1740e+03,
        4.0000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 1.0000e+00, 0.0000e+00,
        1.3000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 1.0000e+00, 0.0000e+00,
        4.0000e+01],
       ...,
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        4.0000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 1.0000e+00, 0.0000e+00,
        2.0000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 1.5024e+04,
        4.0000e+01]])

In [79]:
x_census_extra.shape

(32561, 59)

In [81]:
x_census_treinamento_extra, x_census_teste_extra, y_census_treinamento_extra, y_census_teste_extra = train_test_split(x_census_extra, y_census, test_size=0.15, random_state=0)

In [82]:
x_census_treinamento_extra.shape, x_census_teste_extra.shape

((27676, 59), (4885, 59))

In [83]:
random_forest_census = RandomForestClassifier(criterion='entropy', min_samples_leaf=1, min_samples_split=5, n_estimators=100)
random_forest_census.fit(x_census_treinamento_extra, y_census_treinamento_extra)

RandomForestClassifier(criterion='entropy', min_samples_split=5)

In [84]:
from sklearn.metrics import accuracy_score

In [85]:
previsoes = random_forest_census.predict(x_census_teste_extra)

In [86]:
accuracy_score(y_census_teste_extra, previsoes)

0.8454452405322416